+b.HEADER.header
    +e.wrapper.wrapper
        +e.top
            +e.left
                +e.logo
                    +b.main-logo
                        +e.H1.text
                            | MARVEL
            +e.right
                +e.top-menu
                    +b.TABLE.top-menu
                        tr
                            td
                                +e.A(href="#").link link-1
                            td
                                +e.A(href="#").link link-2
                            td
                                +e.A(href="#").link link-3
        +e.bottom
            +e.main-menu
                +b.TABLE.main-menu
                    tr
                        td
                            +e.A(href="#").link link-1
                        td
                            +e.A(href="#").link link-2
                        td
                            +e.A(href="#").link link-3
                        td
                            +e.A(href="#").link link-4
                        td
                            +e.A(href="#").link link-5
                        td
                            +e.A(href="#").link link-6
