// Основные цвета (индивидуально)
$orange = #ffac14
$green  = #03A762
$purple = #5A3096
$dark_purple = #4e2984
$very-dark_purple = #442474

// Стандартная "transition-timing-function"
$timing = 200ms ease-in-out 0ms

// ====== Медиа размеры (учитываем $sidePadding)
$large   = 1920px
$desktop = 1200px
$tablet  = 720px
$mobile  = 320px
