.wrapper
    +b.UL.pagination
        +e.item
            +e.A(href="#").link Далеко
        +e.item
            +e.A(href="#").link Буквоград
        +e.item
            +e.A(href="#").link Рыбные

    h1.page__title
        | Наши статьи

+e.wrapper.wrapper
    +e.left
        +b.articles
            +e.top
                +e.left
                    +e.H2.info
                        | Статья о ПК
                +e.right
                    +e.A(href="#").link Все статьи
            +e.list
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

        +b.articles
            +e.top
                +e.left
                    +e.H2.info
                        | Статья о ПК
                +e.right
                    +e.A(href="#").link Все статьи
            +e.list
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

        +b.articles
            +e.top
                +e.left
                    +e.H2.info
                        | Статья о ПК
                +e.right
                    +e.A(href="#").link Все статьи
            +e.list
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?
                +b.article
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

    +e.right
        +e.sidebar
            +b.sidebar-news-top
                +e.H2.info Топ новости
                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

            +b.sidebar-news
                +e.H2.info Свежие записи
                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

            +b.sidebar-news-gaming
                +e.H2.info ТОп ИгР
                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?

                +e.item
                    +e.top
                        +e.left
                            +e.image
                                img(src="uploads/PC.jpg", alt="pc")
                        +e.right
                            +e.P.views Просмотров:
                                span 45
                            +e.H2.title
                                | Выбор оперативной памяти
                            +e.P.categorie Категория:
                                +e.A(href="#").link Железо
                            +e.A(href="#").link Читать полностью
                    +e.bottom
                        +e.P.text
                            |Далеко-далеко за словесными
                            |горами в стране, гласных и согласных живут рыбные
                            |тексты. Букв буквоград океана осталось единственное,
                            |страну предупредила если она проектах, диких
                            |инициал по всей свое предупреждал встретил
                            |необходимыми злых моей, своих?





